@charset "UTF-8";
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------*/

/*--------------------------------------------------------------
#0.1    Theme Reset Style
--------------------------------------------------------------*/
html {
  font-size: 16px;
}

body {
  font-family:"Microsoft YaHei","MicrosoftJhengHei",STHeiti,MingLiu , sans-serif;
  #font-family: "Arimo", sans-serif;
  font-size: 1rem;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

p {
  color: #555;
  line-height: 1.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #2a2a2a;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a:hover,
a:focus {
  text-decoration: none;
}
